/* Nunito font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

:root {
  --light-color: #666;
  --green: #00af91;
  --orange: #fb743e;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  /* overflow: hidden; */
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
}
/* header section */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  background-color: #fff;
  padding: 1rem 7%;
}
header .logo {
  font-weight: bolder;
  font-size: 2.5rem;
  color: var(--orange);
}
header .logo i {
  color: var(--green);
}

.navbar a {
  font-size: 1.7rem;
  padding: 1.6rem 1.5rem;
  color: var(--light-color);
}
.navbar a.active,
.navbar a:hover {
  background-color: var(--green);
  color: #fff;
}

header .icons a,
header .icons i {
  cursor: pointer;
  font-size: 1.9rem;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  border-radius: 50%;
  color: var(--orange);
  background-color: rgba(238, 238, 238, 0.609);
  transition: all 0.3s ease-in-out;
}
header .icons a:hover,
header .icons i:hover {
  background-color: #fff;
  transform: translateY(-1rem);
}

#menu-bars {
  display: none;
}

/* search bar */
#search-form {
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: -110%;
  left: 0;
  z-index: 1004;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}

#search-form #search-box {
  background: none;
  font-size: 2rem;
  width: 35rem;
  height: 5rem;
  padding: 0 1rem;
  text-transform: none;
  color: var(--green);
  border-radius: 3rem;
  transition: transform 0.1s ease-in-out;
  background-color: rgb(243, 242, 242);
}

#search-form #search-box::placeholder {
  color: var(--light-color);
}
/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px;
}
#search-form #search-box:focus {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#search-form div {
  position: relative;
}
#search-form .fa-search {
  position: absolute;
  right: 1rem;
  top: -1rem;
  font-size: 2rem;
  color: var(--orange);
  transition: all 0.2s ease-in-out;
}
#search-form .fa-search:hover {
  color: var(--green);
  cursor: pointer;
}
#search-form #close {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
}

#search-form #close:hover {
  color: var(--orange);
}

/* header media queries */
@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
  .home {
    padding: 2rem;
  }
}

@media screen and (max-width: 765px) {
  #menu-bars {
    display: inline-block;
  }
  header .navbar {
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background: #fff;
    display: none;
  }
  .show {
    display: block !important;
  }

  header .navbar a {
    display: block;
    background: #eee;
    padding: 1.5rem;
    margin: 1rem;
  }

  .home .home-slider .slide .content h3 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 50%;
  }
}

/* home section */
.home {
  padding: 2rem 9%;
}

.home:nth-child(even) {
  background-color: #eee;
}
.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}
.home .home-slider .slide .content {
  flex: 1 1 45rem;
}
.home .home-slider .slide .image {
  flex: 1 1 45rem;
}
.home .home-slider .slide .image img {
  width: 100%;
}
.home .home-slider .slide .content span {
  font-size: 3rem;
  color: var(--green);
}

.home .home-slider .slide .content h3 {
  font-size: 6rem;
  color: var(--orange);
}
.home .home-slider .slide .content p {
  font-size: 1.8rem;
  padding: 2rem 0;
  color: var(--light-color);
  line-height: 1.5;
}

.btn {
  font-size: 2rem;
  background-color: var(--green);
  color: #fff;
  padding: 1rem 3rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background: var(--orange);
  letter-spacing: 0.2rem;
}
.swiper-pagination-bullet-active {
  background: var(--orange);
}

/* dishes section */
.sub-heading {
  color: var(--green);
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}
.heading {
  color: var(--orange);
  text-align: center;
  font-size: 4rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
}
.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
  justify-items: center;
  background: #eee;
  padding: 3rem;
}

.dishes .box-container .box {
  background: #fff;
  padding: 3rem 1rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 30rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  color: var(--orange);
  line-height: 5rem;
  width: 5rem;
  height: 5rem;
  background: #eee;
  border-radius: 50%;
  transition: all 0.3s linear;
}
.dishes .box-container .box .fa-heart {
  right: -15rem;
}
.dishes .box-container .box .fa-eye {
  left: -15rem;
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
  background: var(--green);
  color: #fff;
}
.dishes .box-container .box:hover .fa-heart {
  right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye {
  left: 1.5rem;
}
.dishes .box-container .box img {
  height: 13rem;
  margin: 1.7rem 0;
}
.dishes .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--orange);
  margin-bottom: 0.5rem;
}
.dishes .box-container .box .stars {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: var(--green);
}
.dishes .box-container .box span {
  font-size: 1.7rem;
  color: var(--light-color);
}
.add-btn {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin: 0 1rem;
  transition: all 0.3s linear;
}
.add-btn:hover {
  letter-spacing: 0;
}

.add-btn::after {
  content: "add to cart";
  display: none;
  padding: 5px 0 0 17px;
  font-size: 0.5rem;
  transition: all 0.3s linear;
}
.add-btn:hover::after {
  display: inline-block;
  font-size: 1.5rem;
}
.add-btn i {
  font-size: 1.7rem;
}
/* .order-btn::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1 !important;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in;
} */
